<!--include HTML boilerplate (Header)-->
<%- include("partials/header") %>

<h1>Welcome to Login Page!</h1>

<form method="POST" action="/login">
	<input type="text" name="name" placeholder="name" />
	<input type="text" name="username" placeholder="username" />
	<input type="password" name="password" placeholder="password" />
	<button type="submit">Login</button>
</form>

<%- include("partials/footer") %>
