<!--include HTML boilerplate (Header)-->
<%- include("partials/header") %>

<h1>Welcome to the Sign-up Page!</h1>

<form action="/register" method="POST">
	<input type="text" name="name" placeholder="Full Name" />
	<input type="text" name="username" placeholder="username" />
	<input type="password" name="password" placeholder="password" />
	<button>Sign-up</button>

	<a href="/google">Google+</a>
</form>

<!--include HTML boilerplate (Footer)-->
<%- include("partials/footer") %>
